{% comment %}
  Homepage Template
  Theme 1.0 Architecture
{% endcomment %}

<div class="homepage">
  {% section 'hero' %}
  
  {% section 'featured-collection' %}
  
  {% section 'featured-products' %}
</div>

